/******************************** ELEMENTS ***********************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 4%;
}

p {
  color: #40514E;
}

/********************************* CLASSES ***********************************/
.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
}

.copyright {
  color: #EAF6F6;
}

.first-skill-img {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.footer-link {
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.second-skill-img {
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #e4f6f6;
  padding-top: 100px;
  position: relative;
}

/*********************************** IDs ************************************/
