/******************************** ELEMENTS ***********************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 4%;
}

p {
  color: #40514E;
}

/********************************* CLASSES ***********************************/
.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 70px;
  padding-top: 50px;
}

.btn {
  display: block;
}

.BUTTON_TAR {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #619F9F);
  background-image: -moz-linear-gradient(top, #66BFBF, #619F9F);
  background-image: -ms-linear-gradient(top, #66BFBF, #619F9F);
  background-image: -o-linear-gradient(top, #66BFBF, #619F9F);
  background-image: linear-gradient(to bottom, #66BFBF, #619F9F);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 40px;
  border: solid #e4f6f6 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_TAR:hover {
  background: #11209E;
  border: solid #0059A0 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.contact-me {
  margin-top: 100px;
}
.contact-me-row {
  margin: 50px auto;
}

.copyright {
  color: #EAF6F6;
}

.description-text-bottom {
  display: block;
  height: 90px;
  line-height: 2;
  margin: 32px auto;
  width: 460px;
}

.description-text-top {
  display: inline-block;
  height: 90px;
  line-height: 2;
  margin-bottom: 70px;
  width: 460px;
}

.first-skill-img {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.footer-link {
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.profile-img {
  margin-top: 80px;
}

.skills {
  margin-top: 100px;
}

.second-skill-img {
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #e4f6f6;
  padding-top: 100px;
  position: relative;
}

/*********************************** IDs ************************************/
